.cproject
.project
.settings

# Auto*/libtool
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h*
/ar-lib
/test-driver
/compile
.deps/
.dirstamp
.libs/
*.l[ao]
*~
*.o

# pkgconf
libucl.pc

# python extension
python/build

# debian package
debian/.debhelper/

# ./configure artifacts
lua/libucl.rockspec

# make test artifacts:
tests/test_msgpack
tests/test_streamline
